<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr app-book-table-row *ngFor="let book of books" [book]="book">
    </tr> -->

    <tr app-book-table-row *ngFor="let book of books" [id]="book.id" [title]="book.title" [author]="book.author"
      [status]="book.status">
    </tr>
  </tbody>

</table>