<th scope="row">{{id}}</th>
<td>{{title}}</td>
<td>{{author}}</td>
<td>{{status}}</td>
<td>
  <button class="btn btn-dark mx-1" (click)="onClickChangeBookStatus()">
    Basculer en {{nextStatus}}
  </button>

  <!-- Trick1 (mieux pr test e2e) -->
  <!-- <button class="btn btn-primary mx-1" [routerLink]="getDetailsUrl()">
    Détails
  </button> -->
  <!-- 3eme: mieux pr test e2e -->

  <!-- Trick2 -->
  <button class="btn btn-primary mx-1" [routerLink]="['/book', id]">
    Détails
  </button>
  <!-- Trick3 -->
  <!-- <button class="btn btn-primary mx-1" routerLink="/book" [queryParams]="{id: id}">
    Détails
  </button> -->


</td>