<div class="row">

  <div class="col card shadow mx-auto">

    <h3 class="text-center mt-3">WELCOME! LOGIN NOW</h3>

    <form class="m-3">

      <div class="form-group">
        <label form="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username..">
      </div>

      <div class="form-group">
        <label form="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password..">
      </div>

      <div class="text-center">

        <button type="button" class="btn btn-dark btn-lg" (click)="onSubmitLogin()">LOG IN</button>
      </div>
    </form>

  </div>

</div>