<div class="row">

  <div class="col card shadow mx-auto">

    <!-- create btn -->
    <div class="text-center mt-3">
      <!-- <button class="btn btn-dark mx-1">TOUS LIBRE</button>
      <button class="btn btn-dark mx-1">TOUS PRIS</button> -->
      <button class="btn btn-dark mx-1" (click)="onClickChangeAllStatus('libre')">TOUS LIBRE</button>
      <button class="btn btn-dark mx-1" (click)="onClickChangeAllStatus('pris')">TOUS PRIS</button>
    </div>

    <div class="card-body">
      <app-books-table [books]="books"></app-books-table>
    </div>

    <!-- create btn -->
    <!-- <div class="text-center mt-3">
              <button class="btn btn-dark mx-1" (click)="onClickChangeAllStatus('libre')">TOUS LIBRE</button>
              <button class="btn btn-dark mx-1" (click)="onClickChangeAllStatus('pris')">TOUS PRIS</button>
            </div>
            
            <div class="card-body">
              <app-books-table [books]="books" (click)="onClickChangeAllStatus('pris')"></app-books-table>
            </div> -->
  </div>

</div>



<!-- <div *ngFor="let book of books">{{book.title}}</div> -->